@import "../../CSS/color.scss";
@import "../../CSS/font.scss";
$desk: 100/1920;
.page404-container {
  width: 100vw;
  height: 85 * $desk + vw;
  background-color: $theme;
  display: flex;
  align-items: center;
  justify-content: center;
  .copyright-text {
    text-transform: uppercase;
    font-family: MontserratRegular;
    font-size: 16 * $desk + vw;
    letter-spacing: 1 * $desk + vw;
    font-weight: bold;
    color: #fff;
  }
}
