@import "../../CSS/color.scss";
@import "../../CSS/font.scss";
$desk: 100/1920;
$mul: 100/800;
.navigation-container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 85 * $desk + vw;
  width: 100vw;
  border-bottom: 1px solid darken($color: $line, $amount: 10%);
  //box-shadow: 0px 3px 6px solid darken($color: $line, $amount: 10%);
  background: #fff;
  z-index: 1000;
  .logo-container {
    width: 330 * $desk + vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
    .logo {
      width: 100%;
      height: 90%;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .navigation {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 1000;
    li {
      text-decoration: none;
      padding: 1em;
      text-transform: uppercase;
      font-family: MontserratBold;
      font-size: 14 * $desk + vw;
      font-weight: 900;
      color: darken($color: $line, $amount: 10%);
      margin-right: 73 * $desk + vw;
    }

    li:hover {
      border-bottom: 2px solid darken($color: $line, $amount: 10%);
      color: $theme;
      cursor: pointer;
    }

    .active {
      border-bottom: 2px solid $theme;
      color: $theme;
    }
    .logout {
      .dropdown-container {
        position: absolute;
        display: none;
        background-color: #fff;
        margin-top: 20 * $desk + vw;
        margin-left: -85 * $desk + vw;
        width: 230 * $desk + vw;
        .dropdown {
          padding: 16 * $desk + vw;
          text-align: center;
          background-color: #fff;
          border: 1px solid darken($color: $line, $amount: 10%);
          text-transform: uppercase;
          font-family: MontserratBold;
          font-size: 14 * $desk + vw;
          font-weight: 900;
          color: lighten($color: #000, $amount: 50%);
        }
        .dropdown:hover {
          background-color: #f5f5f5;
        }
      }
    }
    .logout:hover {
      .dropdown-container {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .navigation-container {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 130 * $mul + vw;
    width: 100vw;
    border-bottom: 1px solid darken($color: $line, $amount: 10%);
    box-shadow: 0px 3px 6px solid darken($color: $line, $amount: 10%);
    background: #fff;
    z-index: 1000;
    .logo-container {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .logo {
        width: 100%;
        height: 90%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .mobile-nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      .hamburger-icon {
        position: relative;
        font-family: MontserratBold;
        font-weight: 900;
        color: darken($color: $line, $amount: 60%);
        margin-left: 24 * $mul + vw;

        cursor: pointer;
        i {
          font-size: 65 * $mul + vw;
        }
      }
      .active-page-title {
        // margin-top: 14 * $mul + vw;
        margin-left: 40 * $mul + vw;
        font-size: 50 * $mul + vw;
        font-family: MontserratBold;
        font-weight: 900;
        color: darken($color: $line, $amount: 60%);
      }
    }
    .navigation {
      position: fixed;
      top: 0px;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      list-style: none;
      margin: 0;
      display: block;
      padding: 0;
      margin: 0;
      z-index: 1000;
      padding-top: 200 * $mul + vw;
      -webkit-transition: left 0.5s; /* Safari prior 6.1 */
      transition: left 0.5s;
      .close-icon {
        position: absolute;
        cursor: pointer;
        width: 45 * $mul + vw;
        height: 45 * $mul + vw;
        background-image: url("../../Images/close.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 20 * $mul + vw;
        right: 25 * $mul + vw;
      }
      li {
        margin-top: 10 * $mul + vw;
        width: 100%;
        text-decoration: none;
        padding: 1em;
        text-transform: uppercase;
        font-family: MontserratBold;
        font-size: 45 * $mul + vw;
        text-align: center;
        font-weight: 900;
        color: darken($color: $line, $amount: 10%);
        //border-bottom: 2px solid darken($color: $line, $amount: 10%);
        border: none;
      }

      li:hover {
        //border-bottom: 2px solid $theme;
        color: $theme;
        cursor: pointer;
        border: none;
      }

      .active {
        //border-bottom: 2px solid $theme;
        color: $theme;
        border: none;
      }
    }
  }
}
