@import "./font";
@import "./color";
$desk: 100/1400;
$mul: 100/800;
body {
  overflow-x: hidden;
  margin: 0 !important;
}
img {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
.asterix {
  font-family: MontserratRegular;
  font-size: 11 * $desk + vw;
  color: $error;
  padding-left: 2 * $desk + vw;
  padding-top: 1 * $desk + vw;
}
img {
  width: 100%;
  height: 100%;
}
.hidden {
  visibility: hidden;
}
.capitalize {
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
    margin: 0 !important;
    width: 100%;
  }

  .asterix {
    font-family: MontserratRegular;
    font-size: 30 * $mul + vw;
    color: $error;
    padding-left: 10 * $mul + vw;
    padding-top: 0 * $mul + vw;
  }

  .hide-mobile {
    display: none;
  }
}
