@font-face {
  font-family: MontserratRegular;
  src: url("../Fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: MontserratMedium;
  src: url("../Fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: MontserratThin;
  src: url("../Fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
  font-family: MontserratLight;
  src: url("../Fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../Fonts/Montserrat/Montserrat-Bold.ttf");
}
// @font-face {
//   font-family: Gotham;
//   src: url("./components/fonts/GothamBook.ttf");
// }

// @font-face {
//   font-family: Fahkwang;
//   src: url("./components/fonts/Fahkwang.ttf");
// }

// @font-face {
//   font-family: FahkwangRegular;
//   src: url("./components/fonts/Fahkwang-Regular.ttf");
// }

// @font-face {
//   font-family: LibreBaskerville;
//   src: url("./components/fonts/LibreBaskerville-Regular.ttf");
// }

// @font-face {
//   font-family: GothamXLight;
//   src: url("./components/fonts/Gotham-XLight.otf");
// }

// @font-face {
//   font-family: GothamBook;
//   src: url("./components/fonts/GothamBook.ttf");
// }

// @font-face {
//   font-family: GothamLight;
//   src: url("./components/fonts/Gotham-Light.ttf");
// }

// @font-face {
//   font-family: LibreBaskervilleRegular;
//   src: url("./components/fonts/LibreBaskerville-Regular.ttf");
// }

// @font-face {
//   font-family: GothamMedium;
//   src: url("./components/fonts/GothamMedium.ttf");
// }

// @font-face {
//   font-family: FahkwangSemiBold;
//   src: url("./components/fonts/Fahkwang-SemiBold.ttf");
// }

// @font-face {
//   font-family: RobotoRegular;
//   src: url("./components/fonts/Roboto-Regular.ttf");
// }
